*{
	margin:0;
	padding:0;
}
body{
	font-size:100%;
	font-family:Arial;
	background:url("tile1.jpg") repeat;
	color:white;
	text-align:center;
	
}
img{
	max-width:100%;
}
.bottom{
	font-size:1em;
	bottom:0;
	position:fixed;
	width:100%;
}
.bottom ul a li{
	color:white;
	text-decoration:none;
	float:left;
	list-style:none;
	text-align:center;
	width:16.8%;
	padding:1.6%;
	height:10%;
	background-color:black;
	opacity:.5;
	border-bottom:3px solid black;
}
.bottom ul a li.selected{
	opacity:1;
	border-bottom:2px solid #cc0000;
}
.bottom ul a li img{
	max-height:7.6em;
	padding-top:.15em;
}
